# ====================
# ENVIRONMENT
# ====================
NODE_ENV                = NODE_ENV

# ====================
# APPLICATION
# ====================
APP_NAME                = APP_NAME
APP_PROTOCOL            = APP_PROTOCOL
APP_HOST                = APP_HOST
APP_PORT                = APP_PORT
APP_VERSION             = APP_VERSION
APP_BASE_PATH           = APP_BASE_PATH
APP_SWAGGER_RESOURCE    = APP_SWAGGER_RESOURCE

# ====================
# JWT
# ====================
JWT_ISSUER              = JWT_ISSUER
JWT_SECRET_KEY          = JWT_SECRET_KEY
JWT_APP_EXPIRES_IN      = JWT_APP_EXPIRES_IN
JWT_AUTH_EXPIRES_IN     = JWT_AUTH_EXPIRES_IN

# ====================
# DATABASE
# ====================
DATABASE_URL            = DATABASE_URL
